# Calculate the radial plot

In [1]:
import pandas as pd 
import numpy as np

In [2]:
count = pd.read_csv('/Users/zhangyuhua/Desktop/disssertation/correlation coefficient/didi.csv')

In [3]:
df = count.groupby("labels").agg('mean')

In [4]:
y = df['unit_2021'].apply

In [5]:
df['unit_2021_log'] = df['unit_2021'].astype(float).apply(np.log)

In [6]:
x = df['ditie']

In [7]:
y = df['unit_2021_log']

In [8]:
df['correlation'] = df['ditie']/df['unit_2021_log']

In [9]:
df

                    unit_2021      ditie  unit_2021_log  correlation
labels
HH               78933.041667  14.583333      11.276355     1.293267
LH               15241.000000   6.750000       9.631744     0.700808
LL               17320.950000   1.500000       9.759672     0.153694
Non-Significant  35869.254237   9.728814      10.487636     0.927646

# shopping centre

In [10]:
count2 = pd.read_csv('/Users/zhangyuhua/Desktop/disssertation/correlation coefficient/centre.csv')

In [11]:
df2 = count2.groupby("labels").agg('mean')

In [12]:
df2

,Unnamed_ 0,unit_2021,w_unit_202,unit_2021_,w_unit_2_1,p-sim,sig,unit_202_1,unit_202_2,NUMPOINTS
labels,,,,,,,,,,
HH,56.125000,78933.041667,68252.286458,38768.453948,28087.698738,0.012542,1.0,68252.286458,24505.388428,4.500000
LH,43.000000,15241.000000,73071.562500,-24923.587720,32906.974780,0.007625,1.0,73071.562500,29324.664470,2.250000
LL,62.550000,17320.950000,17637.468750,-22843.637720,-22527.118970,0.011650,1.0,17637.468750,-26109.429280,0.000000
Non-Significant,55.491525,35869.254237,38965.572034,-4295.333482,-1199.015686,0.201864,0.0,38965.572034,-4781.325994,0.949153

# 重点中学

In [13]:
count3 = pd.read_csv('/Users/zhangyuhua/Desktop/disssertation/correlation coefficient/high.csv')

In [14]:
df3 = count3.groupby("labels").agg('mean')

In [15]:
df3

,Unnamed_ 0,unit_2021,w_unit_202,unit_2021_,w_unit_2_1,p-sim,sig,unit_202_1,unit_202_2,NUMPOINTS
labels,,,,,,,,,,
HH,56.125000,78933.041667,68252.286458,38768.453948,28087.698738,0.012542,1.0,68252.286458,24505.388428,0.875000
LH,43.000000,15241.000000,73071.562500,-24923.587720,32906.974780,0.007625,1.0,73071.562500,29324.664470,0.500000
LL,62.550000,17320.950000,17637.468750,-22843.637720,-22527.118970,0.011650,1.0,17637.468750,-26109.429280,0.250000
Non-Significant,55.491525,35869.254237,38965.572034,-4295.333482,-1199.015686,0.201864,0.0,38965.572034,-4781.325994,0.322034

# 小学

In [16]:
count4 = pd.read_csv('/Users/zhangyuhua/Desktop/disssertation/correlation coefficient/xiaoxue.csv')

In [17]:
df4 = count4.groupby("labels").agg('mean')

In [18]:
df4

,Unnamed_ 0,unit_2021,w_unit_202,unit_2021_,w_unit_2_1,p-sim,sig,unit_202_1,unit_202_2,NUMPOINTS
labels,,,,,,,,,,
HH,56.125000,78933.041667,68252.286458,38768.453948,28087.698738,0.012542,1.0,68252.286458,24505.388428,5.166667
LH,43.000000,15241.000000,73071.562500,-24923.587720,32906.974780,0.007625,1.0,73071.562500,29324.664470,1.875000
LL,62.550000,17320.950000,17637.468750,-22843.637720,-22527.118970,0.011650,1.0,17637.468750,-26109.429280,5.900000
Non-Significant,55.491525,35869.254237,38965.572034,-4295.333482,-1199.015686,0.201864,0.0,38965.572034,-4781.325994,5.169492

# yiyuan

In [19]:
count5 = pd.read_csv('/Users/zhangyuhua/Desktop/disssertation/correlation coefficient/yiyi.csv')

In [20]:
df5 = count5.groupby("labels").agg('mean')

In [21]:
df5

,Unnamed_ 0,unit_2021,w_unit_202,unit_2021_,w_unit_2_1,p-sim,sig,unit_202_1,unit_202_2,NUMPOINTS
labels,,,,,,,,,,
HH,56.125000,78933.041667,68252.286458,38768.453948,28087.698738,0.012542,1.0,68252.286458,24505.388428,3.916667
LH,43.000000,15241.000000,73071.562500,-24923.587720,32906.974780,0.007625,1.0,73071.562500,29324.664470,2.750000
LL,62.550000,17320.950000,17637.468750,-22843.637720,-22527.118970,0.011650,1.0,17637.468750,-26109.429280,0.000000
Non-Significant,55.491525,35869.254237,38965.572034,-4295.333482,-1199.015686,0.201864,0.0,38965.572034,-4781.325994,0.491525

In [22]:
#  park

In [23]:
count6 = pd.read_csv('/Users/zhangyuhua/Desktop/disssertation/correlation coefficient/park.csv')

In [24]:
df6 = count6.groupby("labels").agg('mean')

In [25]:
df6

,Unnamed_ 0,unit_2021,w_unit_202,unit_2021_,w_unit_2_1,p-sim,sig,unit_202_1,unit_202_2,NUMPOINTS
labels,,,,,,,,,,
HH,56.125000,78933.041667,68252.286458,38768.453948,28087.698738,0.012542,1.0,68252.286458,24505.388428,2.250000
LH,43.000000,15241.000000,73071.562500,-24923.587720,32906.974780,0.007625,1.0,73071.562500,29324.664470,1.125000
LL,62.550000,17320.950000,17637.468750,-22843.637720,-22527.118970,0.011650,1.0,17637.468750,-26109.429280,5.200000
Non-Significant,55.491525,35869.254237,38965.572034,-4295.333482,-1199.015686,0.201864,0.0,38965.572034,-4781.325994,4.610169

In [26]:
# bus

In [27]:
count8 = pd.read_csv('/Users/zhangyuhua/Desktop/disssertation/correlation coefficient/bbuss.csv')

In [28]:
count8

,pinyin,unit_2021,w_unit_202,unit_2021_,w_unit_2_1,p-sim,sig,labels,unit_202_1,unit_202_2,NUMPOINTS
0,Baihe Town,10717,27200.125,-29447.587720,-12964.462720,0.105,0,Non-Significant,27200.125,-16546.773030,27
1,Zhonggu Town,15867,25731.875,-24297.587720,-14432.712720,0.078,0,Non-Significant,25731.875,-18015.023030,0
2,BanSong Garden,6136,79546.375,-34028.587720,39381.787280,0.001,1,LH,79546.375,35799.476970,0
3,Yuyuan,97846,71470.750,57681.412280,31306.162280,0.005,1,HH,71470.750,27723.851970,32
4,Renmin Square,12091,93367.125,-28073.587720,53202.537280,0.001,1,LH,93367.125,49620.226970,19
...,...,...,...,...,...,...,...,...,...,...,...
106,Yichuan,42973,67946.500,2808.412281,27781.912280,0.005,1,HH,67946.500,24199.601970,18
107,Zhongyuan,47907,48167.750,7742.412281,8003.162281,0.221,0,Non-Significant,48167.750,4420.851974,35
108,Zhoukang,39584,26736.250,-580.587719,-13428.337720,0.094,0,Non-Significant,26736.250,-17010.648030,98
109,Zhujiajiao,33571,20311.625,-6593.587719,-19852.962720,0.017,1,LL,20311.625,-23435.273030,210
110,Zhuqiao,23715,21607.625,-16449.587720,-18556.962720,0.024,1,LL,21607.625,-22139.273030,66

In [29]:
df8 = count8.groupby("labels").agg('mean')

In [30]:
df8

,unit_2021,w_unit_202,unit_2021_,w_unit_2_1,p-sim,sig,unit_202_1,unit_202_2,NUMPOINTS
labels,,,,,,,,,
HH,78933.041667,68252.286458,38768.453948,28087.698738,0.012542,1.0,68252.286458,24505.388428,19.791667
LH,15241.000000,73071.562500,-24923.587720,32906.974780,0.007625,1.0,73071.562500,29324.664470,8.000000
LL,17320.950000,17637.468750,-22843.637720,-22527.118970,0.011650,1.0,17637.468750,-26109.429280,110.600000
Non-Significant,35869.254237,38965.572034,-4295.333482,-1199.015686,0.201864,0.0,38965.572034,-4781.325994,79.559322

In [31]:
#高铁站

In [32]:
count7 = pd.read_csv('/Users/zhangyuhua/Desktop/disssertation/correlation coefficient/gaptie.csv')

In [33]:
df7 = count7.groupby("labels").agg('mean')

In [34]:
df7

,Unnamed_ 0,unit_2021,w_unit_202,unit_2021_,w_unit_2_1,p-sim,sig,unit_202_1,unit_202_2,NUMPOINTS
labels,,,,,,,,,,
HH,56.125000,78933.041667,68252.286458,38768.453948,28087.698738,0.012542,1.0,68252.286458,24505.388428,0.083333
LH,43.000000,15241.000000,73071.562500,-24923.587720,32906.974780,0.007625,1.0,73071.562500,29324.664470,0.125000
LL,62.550000,17320.950000,17637.468750,-22843.637720,-22527.118970,0.011650,1.0,17637.468750,-26109.429280,0.000000
Non-Significant,55.491525,35869.254237,38965.572034,-4295.333482,-1199.015686,0.201864,0.0,38965.572034,-4781.325994,0.000000

In [35]:
# youeryuan

In [36]:
count9 = pd.read_csv('/Users/zhangyuhua/Desktop/disssertation/correlation coefficient/kinter.csv')

In [37]:
df9 = count9.groupby("labels").agg('mean')

In [38]:
df9

,unit_2021,w_unit_202,unit_2021_,w_unit_2_1,p-sim,sig,unit_202_1,unit_202_2,NUMPOINTS
labels,,,,,,,,,
HH,78933.041667,68252.286458,38768.453948,28087.698738,0.012542,1.0,68252.286458,24505.388428,11.083333
LH,15241.000000,73071.562500,-24923.587720,32906.974780,0.007625,1.0,73071.562500,29324.664470,5.500000
LL,17320.950000,17637.468750,-22843.637720,-22527.118970,0.011650,1.0,17637.468750,-26109.429280,16.150000
Non-Significant,35869.254237,38965.572034,-4295.333482,-1199.015686,0.201864,0.0,38965.572034,-4781.325994,15.762712

In [39]:
可以分着做两个，一个正面一个负面，负面的都是学校，公交车站等，可以说明理由。

SyntaxError: invalid character in identifier (<ipython-input-39-39d3e39efcb6>, line 1)

In [ ]:
# coding=utf-8
import numpy as np
import matplotlib.pyplot as plt


results = [{"Bus station*": 1.278753601, "Kindergarten*": 1.04453976,  "parks*":0.35 , "Hospital": 3.9,"primary school*": 0.71,"Top middle school": 0.87,"shopping centre": 4.5,"underground station": 1.29,"High-speed train station": 0.08},
           {"Bus station*": 2.04, "Kindergarten*": 1.2,  "parks*": 0.71, "Hospital": 0,"primary school*": 0.77,"Top middle school": 0.25,"shopping centre": 0,"underground station": 0.15,"High-speed train station": 0}]
data_length = len(results[0])
# 将极坐标根据数据长度进行等分
angles = np.linspace(0, 2*np.pi, data_length, endpoint=False)
labels = [key for key in results[0].keys()]
score = [[v for v in result.values()] for result in results]
# 使雷达图数据封闭
score_a = np.concatenate((score[0], [score[0][0]]))
score_b = np.concatenate((score[1], [score[1][0]]))
angles = np.concatenate((angles, [angles[0]]))
labels = np.concatenate((labels, [labels[0]]))
# 设置图形的大小
fig = plt.figure(figsize=(8, 6), dpi=100)
# 新建一个子图
ax = plt.subplot(111, polar=True)
# 绘制雷达图
ax.plot(angles, score_a, color='g')
ax.plot(angles, score_b, color='b')
# 设置雷达图中每一项的标签显示
ax.set_thetagrids(angles*180/np.pi, labels)
# 设置雷达图的0度起始位置
ax.set_theta_zero_location('N')
# 设置雷达图的坐标刻度范围
ax.set_rlim(0, 5)
# 设置雷达图的坐标值显示角度，相对于起始角度的偏移量
ax.set_rlabel_position(270)
#ax.set_title("Radio plot for average built environment facilities in each clsuter")
plt.legend(["HH cluster", "LL cluster"], loc=4)
plt.savefig('radial.png')

In [ ]:
results = [{"Bus station": 19, "Kindergarten": 11.08,  "parks": 2.25, "Hospital": 3.9,"primary school": 5.16,"Top middle school": 0.87,"shopping centre": 4.5,"underground station": 1.293267,"High-speed train station": 0.08,"underground station": 0.15,"High-speed train station": 0},
           {"Bus station": 11, "Kindergarten": 16.15,  "parks": 5.2, "Hospital": 0,"primary school": 5.9,"Top middle school": 0.25,"Top middle school": 0.01,"shopping centre": 0.01,"shopping centre": 0.01,"underground station": 0.15,"High-speed train station": 0}]

In [ ]:
g_x = [19,11.08, 2.25,3.9,5.16, 0.87,4.5,1.293267,0.08]

In [ ]:
g_x

In [ ]:

g_y = g_y.reshape((-1,1))
g_y = (g_y - g_y.mean(axis=0)) / g_y.std(axis=0)